@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Anton", "Lato", sans-serif;
}

@theme {
  --color-dark: #2b0c0e;
  --color-primary: #7a2d35;
  --color-light: #c46565;
  --font-anton: "Anton";
  --font-lato: "Lato";
}
